dialog {
  width: calc(100% - 4rem);
  max-width: 40rem;
  border-radius: 8px;
}

input[type="date"],
select {
  min-width: 10rem;
}

.date-controls label {
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
  margin-bottom: 0.6rem;
}

.group-controls {
  display: flex;
  flex-wrap: auto;
  align-items: center;
}

.group-controls label {
  display: flex;
  justify-content: flex-start;
  max-width: 20rem;
}

.group-controls > * {
  padding-left: 0.2rem;
  margin: 0.2rem 0;
}

.group-controls input {
  max-width: 2rem;
}

@media all and (max-width: 480px) {
  .group-controls {
    flex-direction: column;
    align-items: start;
  }
}
